<mat-grid-list cols="12" rowHeight="fit">
  <mat-grid-tile colspan="4" rowspan="1">
    <mat-grid-tile-header>Map</mat-grid-tile-header>
    <div id="map-root">
      <canvas id="map-canvas" width="640" height="640">Please use a browser with canvas support</canvas>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="8" [rowspan]="1" class="instruments">
    <mat-grid-tile-header>Instruments</mat-grid-tile-header>
    <mat-icon class="settings-icon" aria-hidden="false" aria-label="Settings">settings</mat-icon>
    <div *ngIf="state || indicators">
        <mat-card class="ias-card">
          <mat-card-header>
            <mat-card-title>IAS</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ state.indicated_air_speed }}km/h
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="tas-card">
          <mat-card-header>
            <mat-card-title>TAS</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ state.true_air_speed }}km/h
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="altitude-card">
          <mat-card-header>
            <mat-card-title>Altitude</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ state.altitude }}m
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="bearing-card">
          <mat-card-header>
            <mat-card-title>Bearing</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ indicators.bearing }}°
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="climb-card">
          <mat-card-header>
            <mat-card-title>Climb Rate</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ state.vertical_speed }}m/sec
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="climb-angle-card">
          <mat-card-header>
            <mat-card-title>Climb Angle</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ state.climb_angle }}°
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="throttle-card">
          <mat-card-header>
            <mat-card-title>Throttle</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ state.throttle }}%
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="tradiator-card">
          <mat-card-header>
            <mat-card-title>Radiator</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ state.radiator }}%
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="prop-pitch-card">
          <mat-card-header>
            <mat-card-title>Prop Pitch</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ indicators.prop_pitch }}°
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="manifold-card">
          <mat-card-header>
            <mat-card-title>Manifold Pressure</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ indicators.manifold_pressure }}°
            </p>
          </mat-card-content>
        </mat-card>
      </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-grid-tile-header>Chat</mat-grid-tile-header>
    <ul>
      <li *ngFor="let item of gameChat; let i = index">
        [{{ item.sender }}] {{item.msg}}
      </li>
    </ul>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-grid-tile-header>Opposition Players</mat-grid-tile-header>
    <ul>
      <li *ngFor="let item of enemies; let i = index">
        {{item.name}} {{ item.plane }}
      </li>
    </ul>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="1" class="team-instruments">
    <mat-grid-tile-header>Team Instruments</mat-grid-tile-header>
    <table *ngIf="teamInstruments" class="mat-table mat-elevation-z8" width="100%">
      <tr class="mat-header-row">
        <th class="mat-header-cell">Player</th>
        <th class="mat-header-cell">IAS</th>
        <th class="mat-header-cell">TAS</th>
        <th class="mat-header-cell">Alt.</th>
        <th class="mat-header-cell">Bearing</th>
        <th class="mat-header-cell">Vert. Speed</th>
        <th class="mat-header-cell">Climb Rate</th>
        <th class="mat-header-cell">Throttle</th>
        <th class="mat-header-cell">Radiator</th>
        <th class="mat-header-cell">Prop Pitch</th>
        <th class="mat-header-cell">Man. Pressure</th>
      </tr>
      <tr class="mat-row" *ngFor="let instruments of teamInstruments">
        <td class="mat-cell">{{ instruments.playerName}}</td>
        <td class="mat-cell">{{ instruments.indicated_air_speed}}km/h</td>
        <td class="mat-cell">{{ instruments.true_air_speed}}km/h</td>
        <td class="mat-cell">{{ instruments.altitude}}m</td>
        <td class="mat-cell">{{ instruments.bearing}}°</td>
        <td class="mat-cell">{{ instruments.vertical_speed }}m/sec</td>
        <td class="mat-cell">{{ instruments.climb_angle }}°</td>
        <td class="mat-cell">{{ instruments.throttle }}%</td>
        <td class="mat-cell">{{ instruments.radiator }}%</td>
        <td class="mat-cell">{{ instruments.prop_pitch }}°</td>
        <td class="mat-cell">{{ instruments.manifold_pressure}}</td>
      </tr>
    </table>
  </mat-grid-tile>
</mat-grid-list>
