<div class="wrapper">
  <div class="main-panel" style="width:100%;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <img src="assets/images/logo.png" height="50px" width="50px"/>
          <a class="navbar-brand" href="javascript:;">Wolf Pack</a>
        </div>
        <div class="justify-content-end" id="navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item about-icon" data-toggle="modal" data-target="#aboutModal">
              <a class="nav-link" href="javascript:;">
                <i class="material-icons">info</i> About
              </a>
            </li>
            <li class="nav-item settings-icon" data-toggle="modal" data-target="#settingsModal">
              <a class="nav-link" href="javascript:;">
                <i class="material-icons">settings</i> Settings
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12">
                  <div id="map-root">
                    <div class="caption"><div id="draghandle"></div></div>
                    <canvas id="map-canvas" width="500px" height="500px">Please use a browser with canvas support</canvas>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header card-header-success">
                    <h4 class="card-title">
                      Squad <small>({{ totalAwards }} <span>{{ totalAwards == 1 ? 'award' : 'awards' }}</span>)</small>
                      <div class="form-check header-options">
                        <label class="form-check-label">
                          <input id="showMyInstruments" name="showMyInstruments" class="form-check-input" type="checkbox"> Show my instruments <span class="form-check-sign"><span class="check"></span></span>
                        </label>
                      </div>
                    </h4>
                  </div>
                  <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                      <thead class="text-warning">
                      <th>Player</th>
                      <th>IAS</th>
                      <th>Alt</th>
                      <th>Bearing</th>
                      <th>Climb Rate</th>
                      <th>Throttle</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let instruments of teamInstruments" [ngClass]="{'table-danger': instruments.killed}">
                        <td [ngClass]="{'cell-killed': instruments.killed}">{{ instruments.playerName}}</td>
                        <td>{{ instruments.ias! * speedSettingMulti | number: '1.0-0' }} {{ speedSetting }}</td>
                        <td>{{ instruments.altitude! * altitudeSettingMulti | number: '1.0-0' }} {{ altitudeSetting }}</td>
                        <td>{{ instruments.bearing }}° {{ instruments.bearingReading}}</td>
                        <td>{{ instruments.verticleSpeed! * climbSpeedSettingMulti | number: '1.0-0' }} {{ climbSpeedSetting }}</td>
                        <td>{{ instruments.throttle }}%</td>
                        <td></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="row" *ngIf="instruments" id="instrument-div">
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon"> IAS</div>
                    <p class="card-category">INDICATED AIR SPEED</p>
                    <span class="trend-line" id="ias-trend-line"></span>
                    <h3 class="card-title">{{ instruments.ias! * speedSettingMulti | number: '1.0-0' }} {{ speedSetting }}</h3>
                    <br>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">TAS</div>
                    <p class="card-category">TRUE AIR SPEED</p>
                    <span class="trend-line" id="tas-trend-line"></span>
                    <h3 class="card-title">{{ instruments.tas! * speedSettingMulti | number: '1.0-0' }} {{ speedSetting }}</h3>
                    <br>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">ALT</div>
                    <p class="card-category">ALTITUDE</p>
                    <span class="trend-line" id="altitude-trend-line"></span>
                    <h3 class="card-title">{{ instruments.altitude! * altitudeSettingMulti | number: '1.0-0' }} {{ altitudeSetting }}</h3>
                    <br>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">BNG</div>
                    <p class="card-category">BEARING</p>
                    <h3 class="card-title">{{ instruments.bearing }}° <small>{{ instruments.bearingReading }}</small></h3>
                    <br>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-stats">
                  <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">CLR</div>
                    <p class="card-category">CLIMB RATE</p>
                    <span class="trend-line" id="climb-rate-trend-line"></span>
                    <h3 class="card-title">{{ instruments.verticleSpeed! * climbSpeedSettingMulti | number: '1.0-0' }} {{ climbSpeedSetting }} <small>{{ instruments.climbAngle }}°</small></h3>
                    <br>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-stats">
                  <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">THR</div>
                    <p class="card-category">THROTTLE</p>
                    <span class="trend-line" id="throttle-trend-line"></span>
                    <h3 class="card-title">{{ instruments.throttle }}%</h3>
                    <br>
                  </div>
                </div>
              </div>
              <!-- water temp or engine temp -->
              <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="instruments.waterTemp !== undefined">
                <div class="card card-stats">
                  <div class="card-header card-header-grey card-header-icon">
                    <div class="card-icon">WAT</div>
                    <p class="card-category">WATER TEMP</p>
                    <span class="trend-line" id="water-trend-line"></span>
                    <h3 class="card-title" *ngIf="temperatureSetting === 'F'">{{ (instruments.waterTemp! * temperatureSettingMulti) + 32 | number: '1.0-0' }}° {{ temperatureSetting }}</h3>
                    <h3 class="card-title" *ngIf="temperatureSetting !== 'F'">{{ instruments.waterTemp | number: '1.0-0' }}° {{ temperatureSetting }}</h3>
                    <br>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="instruments.waterTemp === undefined && instruments.engineTemp !== undefined">
                <div class="card card-stats">
                  <div class="card-header card-header-grey card-header-icon">
                    <div class="card-icon">ENG</div>
                    <p class="card-category">ENGINE TEMP</p>
                    <span class="trend-line" id="engine-temp-trend-line"></span>
                    <h3 class="card-title" *ngIf="temperatureSetting === 'F'">{{ (instruments.engineTemp! * temperatureSettingMulti) + 32 | number: '1.0-0' }}° {{ temperatureSetting }}</h3>
                    <h3 class="card-title" *ngIf="temperatureSetting !== 'F'">{{ instruments.engineTemp | number: '1.0-0' }}° {{ temperatureSetting }}</h3>
                    <br>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-stats">
                  <div class="card-header card-header-grey card-header-icon">
                    <div class="card-icon">OIL</div>
                    <p class="card-category">OIL TEMP</p>
                    <span class="trend-line" id="oil-trend-line"></span>
                    <h3 class="card-title" *ngIf="temperatureSetting === 'F'">{{ (instruments.oilTemp! * temperatureSettingMulti) + 32 | number: '1.0-0' }} °{{ temperatureSetting }}</h3>
                    <h3 class="card-title" *ngIf="temperatureSetting !== 'F'">{{ instruments.oilTemp }} °{{ temperatureSetting }}</h3>
                    <br>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                  <div class="card-header card-header-danger">
                    <h4 class="card-title">Opponents</h4>
                  </div>
                  <div class="card-body table-responsive resizable-div">
                    <table class="table table-hover table-striped">
                      <thead class="text-warning">
                      <th>Player</th>
                      <th>Vehicle</th>
                      <th>Location</th>
                      <th>Last Seen</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of enemies; let i = index" [ngClass]="enemies[i].killed ? 'hide-me' : ''">
                        <td><i class="material-icons icon-red" style="position:relative;top:6px;" *ngIf="item.killed">close</i>{{ item.name }}</td>
                        <td>{{ item.plane }}</td>
                        <td>{{ item.location }} <b *ngIf="item.location !== 'Unknown'">{{ (item.altitude! * altitudeSettingMulti) | number: '1.0-0' }}{{ altitudeSetting }}</b></td>
                        <td><span class="show-last-seen"></span><span class="cdk-visually-hidden hidden-last-seen">{{ item.lastSeen }}</span></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                  <div class="card-header card-header-warning">
                    <h4 class="card-title">Chat</h4>
                  </div>
                  <div class="card-body game-chat resizable-div">
                    <p *ngFor="let item of gameChat; let i = index">
                      <span class="sender">[{{ item.sender }}]</span> &nbsp;<span class="message" [innerHTML]="item.msg"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

