
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
@import './../node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$WarThunderUI-primary: mat-palette($mat-indigo);
$WarThunderUI-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$WarThunderUI-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$WarThunderUI-theme: mat-light-theme((
  color: (
    primary: $WarThunderUI-primary,
    accent: $WarThunderUI-accent,
    warn: $WarThunderUI-warn,
  )
));

div.content {
  margin-top: 40px;
}

input.text {
  width: 100%;
}

.settings-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.killed {
  background-color: #ff0000;
  color: #ffffff;
}

div#map-root {
  position: relative;
  top: auto!important;
  left: auto!important;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 450px!important;
  height: 400px!important;
}


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($WarThunderUI-theme);

