
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
@import './../node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$WarThunderUI-primary: mat-palette($mat-indigo);
$WarThunderUI-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$WarThunderUI-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$WarThunderUI-theme: mat-light-theme((
  color: (
    primary: $WarThunderUI-primary,
    accent: $WarThunderUI-accent,
    warn: $WarThunderUI-warn,
  )
));

div.content {
  margin-top: 40px;
}

input.text {
  width: 100%;
}

.settings-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

input#metricSettings {
  margin-left: 25px;
}

.donate-icon {
  position: absolute;
  top: 10px;
  right: 120px;
}

.about-icon {
  position: absolute;
  top: 10px;
  right: 120px;
}

.navbar-nav > li {
  position: absolute;
}

.killed {
  background-color: #ff0000;
  color: #ffffff;
}

div#map-root {
  position: relative;
  top: auto!important;
  left: auto!important;
  overflow:hidden;
  margin-top: 15px;
}

canvas#map-canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  //width: 85%!important;
  height: 400px;
}

div.resizable-div, div.resizable-div-map {
  overflow-y: scroll;
}

div.game-chat {
  p {
    margin-bottom: .25em;
  }

  p.enemy {
    color: #E20C00!important;
  }

  p.Team {
    color: #1544D5;
  }

  p.All {
    color: #5a6268;
  }

  p.Squad {
    color: #2e7d32;
  }

  span.sender {
    font-weight: bold;
  }
}

.icon-red {
  color: #8b0000;
}

.hide-me {
  display: none;
}

div.header-options {
  float: right;
  color: white;
  margin-top: 5px!important;
  margin-bottom: 0px;

  .form-check, label {
    color: white;
    margin-left: 20px;
  }

  .check {
    border-color: white!important;
  }
}

div#settings label, div#configuration label {
  margin-right: 15px;
}

div#settings label, div#configuration label {
  width: 10em;
  justify-content: right;
}

div#settings select {
  width: 13em;
}

div#settings div.form-group, div#configuration div.form-group {
  justify-content: center;
}

div#configuration small, div#settings small {
  font-size: 75%;
  font-weight: 100;
}

span.trend-line {
  width: 100%;
  display: inline-flex!important;
  position: absolute;
  overflow: hidden;
  left: 0px;
  z-index: -1;
  > canvas {
    width: 100%!important;
    opacity:0.25;
  }
}


::-webkit-scrollbar {
  display: none;
}

#squad-table-card {
  height: 310px;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

td.cell-killed {
  text-decoration: line-through;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($WarThunderUI-theme);

